{% extends 'base.html.twig' %}

{% block title %}ajouter{% endblock %}

{% block body %}
<form class="w-50 m-auto text-center my-3" >
  <div class="mb-3">
    <label for="title" class="form-label">Titre de l'article</label>
    <input type="text" class="form-control" id="title" name="title">
  </div>

    <label for="category" class="form-label">Categories</label></br>
    <select name="category" id="category" class="mb-3">
        <option value="price1">Science</option>
        <option value="price2">Technologie</option>
        <option value="price3">Divers</option>
    </select>

  <div class="mb-3">
    <label for="contenu" class="form-label">Contenu</label>
    <textarea type="text" class="form-control" id="contenu" nane="contenu" rows="10"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Publier</button>
</form>

{% endblock %}